
h1 {
  align-self: center;
  color: white;
}

h3 {
  color: white;
  @media screen and (orientation: portrait) {
    font-size: 60px;
  }
}

.error {
  color: crimson;
  text-decoration: none;
}

.error:hover {
  text-decoration: none;
}

.about {
  color: #2ecc71;
  font-size: 100px;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: calc(50vh - 200px);
}

.rules{
  font-family: 'Permanent Marker', cursive;
}

.rules-text {
  color: white;
  font-family: 'Roboto';
  font-size: 40px;
  padding-top: 10px;
}
