
h1 {
  align-self: center;
  color: white;
}

h3 {
  color: white;
  @media screen and (orientation: portrait) {
    font-size: 60px;
  }
}

.error {
  color: crimson;
  text-decoration: none;
}

.error:hover {
  text-decoration: none;
}
