@import "../../base.scss";

.bank {
  border-radius: 100px;
  box-shadow: 0 0 10px grey;
  padding: 10px;
  width: 5vw;
  text-align: center;
  color: white;
  margin-top: 9%;
  align-self: flex-start;
  position: absolute;
  z-index: 4;
}

