<form class="profileForm">
    <header class="profileForm__header">
        <div class="profileForm__c">
            <a class="profileForm__close-button" href="/">&#215;</a>
        </div>
        <img class="profileForm__avatar" src={{avatar}}>
        <div class="profileForm__nike">{{nickname}}</div>
    </header>
    <section class="profileForm__title">
        <b class="profileForm__text">{{score}}</b>
    </section>
    <section class="profileForm__actions">
        <a class="button-small profileForm__button" href ="/profileChange">Change</a>
    </section>
</form>
