<div class="poker-user-panel" id="playerPanel">
    <button id="secondButton" class="poker-user-panel__button" disabled>fold</button>
    <button id="firstButton" class="poker-user-panel__button" disabled>check</button>
    <button type="button" id="thirdButton" class="poker-user-panel__button" disabled>raise: 20</button>
</div>