@import "../../base.scss";

.poker-user-panel {
    @extend %row;
    align-items: center;
    justify-content: center;
    min-width: 515px;
    grid-area: 3/2;
    z-index: 1;

    &__container {
        /*background: darkslategrey;*/
        border-radius: 5px;
        padding: 3px;
        /*margin-right: 5px;*/
        &__avatar {
            border-radius: 100px;
            height: 50px;
            width: 50px;
        }


    }
    &__score-bet {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        /*margin-top: -50px;*/
        margin-right: 3px;
        min-height: 60px;
        min-width: 100px;
        background: gold;
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__button {
        @extend %column;
        height: 60px;
        width: 100px;
        margin-right: 3px;
        /*margin-top: -50px;*/
        color: #FFFFFF;
        background: darkslategrey;
        border: 1px solid black;
        border-radius: 5px;
        align-items: center;
        justify-content: center;

        &__input {
            width: 50%;
            margin: 3%;
        }

        &__raise-button {
            width: 50%;
            height: 40%;
            margin: 3%;
            background: darkslategrey;
            border-radius: 5px;
            border: 1px black;
            color: white;

        }
    }

    &__button_disabled {
        height: 60px;
        width: 100px;
        margin-right: 3px;
        /*margin-top: -50px;*/
        color: #FFFFFF;
        background: gray;
        border: 1px solid black;
        border-radius: 5px;
        @extend %column;
        align-items: center;
        justify-content: flex-end;
    }

    &__button:hover {
        background: gold;
        color: black;
    }

    &__button:focus {
        outline: none;
    }
}

