<div class="poker-user-panel" id="playerPanel">
    <button id="secondButton" class="poker-user-panel__button">fold</button>
    <button id="firstButton" class="poker-user-panel__button">check</button>
    <button type="button" id="thirdButton" class="poker-user-panel__button">
        <b id="raiseText">raise</b>
        <input class="poker-user-panel__button__input" id="raiseInput" hidden/>
    </button>
</div>