


.startButton {
    position: relative;
    width: 123px;
    height: 52px;
    /*left: 837px;*/
    /*top: 728px;*/

    background: #337AB7;
    border-radius: 20px;
}

.button {
    color: black;
    text-align: center;
    //min-width: 150px;
    //min-height: 40px;
    background: #2ecc71;
    //@extend %column;
    display: flex;
    font-size: 20px;
    line-height: 20px;
    padding: 11px 25px 9px;;
    align-items: center;
    justify-content: center;
    border: 1px solid darkslategray;
    border-radius: 20px;
    align-self: flex-end;
    margin: 3px;
    cursor: pointer;
}
.button-small {
    color: black;
    text-alig: center;
    width: 6vw;
    height: 3vh;
    background: #2ecc71;
    //@extend %column;

    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    //padding: 11px 25px 9px;;
    align-items: center;
    justify-content: center;
    border: 1px solid darkslategray;
    border-radius: 5px;
    align-self: flex-end;
    margin: 6px;
    cursor: pointer;
}

.button-back{
    grid-area: 1/1;
    align-self: flex-start;
    /*position: absolute;*/
    /*top: 1vh;*/
    /*left: 3vw;*/
    width: 90px;
}

button:disabled{
    background: grey;
}
button:disabled:hover{
    background: grey;
    color: white;
}

.button:focus{
    background: #ffd700;
    color: black;
    outline: none;

}
.logButton {
}
.signButton {

}

