.rules-form {
  align-self: center;
  max-width: 60vw;
  display: flex;
  height: 1000px;
  justify-content: flex-start;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1em;
  }
  &scrollbar {
    width: 1em;
  }
  //&::-webkit-scrollbar-track {
  //  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //}

  &::-webkit-scrollbar-thumb {
    background-color: #1c1c1c;
    outline: 1px solid #eee;
    border-radius: 10px;
  }
  &scrollbar-thumb {
    background-color: #1c1c1c;
    outline: 1px solid #eee;
    border-radius: 10px;
  }
}


