
.profileForm{
    position: fixed;
    background: #34495E;

    width: 500px;
    max-height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #565656;

}

.avatar {
    border-radius: 100px;
    border:  2px solid darkblue ;
    max-width: 100px;
    max-height: 100px;
    align-self: center;
}

.closeProfileButton{
    background: #27ae60;
}
.profileText{

}
