
.infoBar {
    display: flex;
    flex-direction: row;
    align-self: end;
    background: #34495E;
    max-width: 250px;
}

.infoAvatar {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background: #34495F;
    max-width: 250px;
    border-radius: 5px;
    padding: 3px;
    justify-content: center;
    align-items: center;
}

.username {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.username:hover {
    text-decoration: none;
}

.logOutButton {
    background: green;
    align-self: center;
}