<div class="infoBar">
    <img id="infoAvatar" class="infoBar__avatar" src="{{avatar}}">
    <button id="logout" class="infoBar__logOutButton" type="submit">
        <i class="fa fa-sign-out"></i>
    </button>
</div>
