<div class="infoBar">
    <!--    <div class="infoBar">-->
    <!--        <a class="infoBar__username" href="profile">{{username}}</a>-->
    <!--    </div>-->
    <img id="infoAvatar" class="infoBar__avatar" src="{{avatar}}">
    <button class="infoBar__logOutButton" type="submit" id="logout">
        <i class="fa fa-sign-out"></i>
    </button>

</div>