@import "../../base.scss";

.infoBar {
    @extend %row;
    align-self: flex-end;
    background: #34495F;
    max-width: 250px;
    border-radius: 5px;
    padding: 3px;
    justify-content: center;
    align-items: center;

    &__avatar {
        border-radius: 100px;
        width: 50px;
        height: 50px;
        border:  1px solid crimson ;;
    }

    &__username {
        color: white;
        font-family: sans-serif;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__username:hover {
        text-decoration: none;
    }

    &__logOutButton {
        background: none;
        align-self: auto;
    }
}

