<div class="infoBar">
    <img class="infoBar__avatar" src="{{avatar}}">
    <a class="infoBar__username" href="profile">{{username}}</a>
    <button class="button infoBar__logOutButton" type="submit" id="loguot">Log out</button>
</div>