
.sect {
  //position: relative;
  padding: 0;
  margin: 0;
  z-index: 0;
  @media (orientation: landscape) {
    height: 100vh;
  }
  @media screen and (orientation: portrait) {
    height: 100vw;
  }
  background-image: url("/assets/nami.png");
}
@media screen and (orientation: portrait) {
  .table:before{
    background-image: url("/assets/table_new.png");
    background-repeat: no-repeat;
    background-size: 54vh 54vw;
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: calc(-100%);
    left: -100%;
    z-index: 0;

    transform:  rotate(180deg);
  }
}
.table {
  display: grid;
  //flex-direction: row;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 1fr 25%;
  align-items: center;
  justify-content: center;
  position: absolute;


  @media screen and (orientation: portrait) {
    top: calc(50% - 27vw);
    left: calc(50% - 27vh);
    height: 54vw;
    width: 54vh;
  }
  @media (orientation: landscape) {
    background-image: url("/assets/table_new.png");
    top: calc(50% - 30vh);
    left: calc(50% - 27vw);
    height: 54vh;
    width: 54vw;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: 54vw 54vh;
}

.startGameButton {
  position: absolute;
  @media screen and (orientation: portrait) {
    left: calc(50vh - 45px);
    top: calc(50vw - 20px);
  }
  @media (orientation: landscape) {
    top: calc(46vh - 20px);
    left: calc(50vw - 45px);
  }
  z-index: 30;
}


.back {
  position: absolute;
  top: 1vh;
  left: 1vw;
  color: #2ecc71;
  padding: 5px;
  width: 50px;
    font-family: "Alfa Slab One";
  text-align: center;
  border-radius: 100px;
  border: solid 1px #2ecc71;
}
.back:hover{
    text-shadow:
            0 0 6px rgba(0,0,0,0.98),
            0 0 30px rgba(0,0,0,0.42),
            0 0 12px rgba(	46, 204, 113,0.58),
            0 0 22px rgba(	46, 204, 113,0.84),
            0 0 38px rgba(	46, 204, 113,0.88),
            0 0 60px rgba(	46, 204, 113,1);

}

.raise-slider {
  //position: absolute;
  bottom: 10vh;
  width: 25vw;
  //margin-bottom: 30px;
  //left: calc(25vw - 10px);
  outline: none;
  border: initial;
  appearance: none;
  cursor: pointer;
}

