
.sect {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("/assets/nami.png");
}

.table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 27vh);
  left: calc(50% - 27vw);
  background-image: url("/assets/table_new.png");
  height: 54vh;
  width: 54vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 54vw 54vh;
}

.startGameButton {
  position: absolute;
  top: calc(50vh - 20px);
  left: calc(50vw - 45px);
  z-index: 10;
}

.back {
  position: absolute;
  top: 1vh;
  left: 1vw;
  color: #2ecc71;
  padding: 5px;
  width: 50px;
    font-family: "Alfa Slab One";
  text-align: center;
  border-radius: 100px;
  border: solid 1px #2ecc71;
}
.back:hover{
    text-shadow:
            0 0 6px rgba(0,0,0,0.98),
            0 0 30px rgba(0,0,0,0.42),
            0 0 12px rgba(	46, 204, 113,0.58),
            0 0 22px rgba(	46, 204, 113,0.84),
            0 0 38px rgba(	46, 204, 113,0.88),
            0 0 60px rgba(	46, 204, 113,1);

}

.raise-slider {
  position: absolute;
  bottom: 10vh;
  width: 18%;
  left: calc(41% - 10px);
  outline: none;
  border: initial;
  appearance: none;
  cursor: pointer;
}