.room-player-info{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  &__avatar {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    background-position: center;
    background-size: 110% 110%;
    position: relative;
  }
  &__text {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}
