<div class="tables">
    <div class="tables__heading">
        Online Poker
    </div>
    <section class="tables__scroll" id="tables">
    </section>
    <button class="button tables__create-room" id="createRoom">
        Create room
    </button>
</div>
