
.player-info {
  transition: border;
  transition-duration: 300ms;
  position: absolute;
  width: 115px;
  border-radius: 5px;

  &__card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @keyframes showWinner {
      30% {
        transform: translate(0, -30px);
      }
      70% {
        transform: translate(0, -30px);
      }
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px rgb(50, 50, 50);
    background: #0a0a0a;
    height: 50px;
    width: 98%;
    color: white;
    margin-top: -50px;
    background: linear-gradient(rgb(50, 50, 50), black);
    z-index: 5;

    &__score {
      margin: 0;
    }
  }
}

.player-info:nth-child(1) {
  bottom: 18vh;
  left: 50%;
  transform: translate(-50%, 0);
}

.player-info:nth-child(2){
  bottom: 25vh;
  right: 18vw;
}
.player-info:nth-child(3){
  bottom: 25vh;
  left: 18vw;
}
.player-info:nth-child(4){
  top: 25vh;
  right: 18vw;
}
.player-info:nth-child(5){
  top: 25vh;
  left: 18vw;
}