
.player-info {
  transition: border;
  transition-duration: 300ms;
  position: absolute;
  width: 115px;
  border-radius: 5px;

  &__card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @keyframes showWinner {
      30% {
        transform: translate(0, -30px);
      }
      70% {
        transform: translate(0, -30px);
      }
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px rgb(50, 50, 50);
    background: #0a0a0a;
    height: 50px;
    width: 98%;
    color: white;
    margin-top: -50px;
    background: linear-gradient(rgb(50, 50, 50), black);
    z-index: 7;

    &__score {
      margin: 0;
    }
  }
}

.player-info:nth-child(1) {
  @media screen and (orientation: portrait) {
    bottom: 18vw;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @media (orientation: landscape) {
    bottom: 18vh;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.player-info:nth-child(2){
  @media screen and (orientation: portrait) {
    bottom: 25vw;
    left: 18vh;
  }
  @media (orientation: landscape) {
    bottom: 25vh;
    left: 18vw;
  }
}
.player-info:nth-child(3){
  @media screen and (orientation: portrait) {
    top: 25vw;
    left: 18vh;
  }
  @media (orientation: landscape) {
    top: 25vh;
    left: 18vw;
  }
}
.player-info:nth-child(4){
  @media screen and (orientation: portrait) {
    top: 25vw;
    right: 18vh;
  }
  @media (orientation: landscape) {
    top: 25vh;
    right: 18vw;
  }
}
.player-info:nth-child(5){
  @media (orientation: portrait) {
    bottom: 25vw;
    right: 18vh;
  }
  @media (orientation: landscape) {
    bottom: 25vh;
    right: 18vw;
  }
}
