.card[data="As"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(0 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="Ks"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(1 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="Qs"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(2 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="Js"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(3 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="Ts"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(4 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="9s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(5 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="8s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(6 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="7s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(7 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="6s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(8 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="5s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(9 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="4s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(30 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="3s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(31 * 100% / 12) calc(3 * 100% / 3);
}
.card[data="2s"]{
  background-size: auto;
  background-image: url("/assets/sprite_cards.png");
  background-position: calc(32 * 100% / 12) calc(3 * 100% / 3);
}