<header id="topSection" class="header header__top-section">
        <div class="header__top-section__left-container">
            <img src="../../assets/logo.png" class="logo"/>
            <a class="header__top-section__left-container__label" href="/">
                Just Poker
            </a>
<!--            <a class="header__top-section__button">-->
<!--                Online-->
<!--            </a>-->
<!--            <a class="header__top-section__button" href="/offline">-->
<!--                Offline-->
<!--            </a>-->
        </div>
        <div {{hiddenSign}} class="header__top-section__right-container">
            <a class=" header__sign-in-button" href="/signIn">Login</a>
            <a class=" header__sign-in-button" href="/signUp">Sign up</a>
        </div>

</header>