<header class="header">
    <div id="topSection" class="header__top-section">
        <div {{hiddenSign}}>
            <a class="button header__sign-in-button" href="/signIn">Sign in</a>
            <a class="button header__sign-in-button" href="/signUp">Sign up</a>
            <a class="button header__button_back" href="/" {{hiddenBack}}>Back</a>
        </div>
    </div>
    <img class="chip" src="./assets/gold_fishka.jpg">
    <h1>Online Poker Game</h1>
</header>