@import "../../base.scss";

.header {
  //@extend %column;
  background: linear-gradient(black, rgba(30, 30, 30, .6));
  padding: 25px;
  padding-right: 0;
  //margin-bottom: 100px;
  @media (orientation: portrait) {
  }
  &__button_back {
    align-self: start;
  }

  &__top-section {
    @extend %row;
    justify-content: space-between;
    align-items: center;
    //padding: 10px;

    &__left-container {
      @extend %row;
      align-items: center;
      @media (orientation: portrait) {
        width: 100%;
        justify-content: flex-start;
      }


      &__label {
        font-family: 'Monoton', cursive;
        color: #b4b9b6;
        font-size: 30px;
        cursor: pointer;
        justify-self: center;
        text-transform: uppercase;
        transition: text-shadow;
        transition-duration: 1000ms;
        transition-timing-function: ease;
        @media (orientation: portrait) {
          font-size: 90px;
          text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #2cff08, 0 0 0.5em #094f0a, 0 0 0.1em #2cff08;
        }
        &__span {
          animation: neon-4 linear infinite 6s;
        }

        @keyframes neon-4 {
          3% {
            color: inherit;
            text-shadow: inherit;
          }
          79% {
            color: #434f4c;
          }
          80% {
            text-shadow: none;
          }
          81% {
            color: inherit;
            text-shadow: inherit;
          }
          82% {
            color: #f3ffed;
            text-shadow: none;
          }
          83% {
            color: inherit;
            text-shadow: inherit;
          }
          92% {
            color: #0a0a0a;
            text-shadow: none;
          }
          92.5% {
            color: inherit;
            text-shadow: inherit;
          }
        }
      }

      &__label:hover {
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #2cff08, 0 0 0.5em #094f0a, 0 0 0.1em #2cff08;
      }


    }

    &__right-container {
      display: flex;
      flex-direction: row;
      @media (orientation: portrait) {
        flex-direction: column;
      }
    }

    &__button {
      border: 1px solid #b4b9b6;
      border-radius: 20px;
      padding: 11px 25px 9px;
      margin-left: 50px;
      font-family: 'Yeon+Sung', cursive;
      justify-self: flex-start;
      color: #2ecc71;
      font-size: 30px;
      cursor: pointer;
    }
  }

  &__sign-in-button {
    transition: color;
    transition-duration: 100ms;
    transition-timing-function: ease;
    justify-self: end;
    margin: 3px;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2ecc71;
    border-radius: 20px;
    width: 70px;
    padding: 10px;
    color: #2ecc71
  }

  &__sign-in-button:nth-child(1) {
    border: 1px solid #b4b9b6;
    color: #b4b9b6;
  }

  &__sign-in-button:hover {
    color: gray;
  }
}

.logo {
  height: 50px;
  width: 75px;
  align-self: flex-start;
  @media (orientation: portrait) {
    height: 120px;
    width: 180px;
  }
}








