@import "../../base.scss";

.header {
  @extend %column;
  background: linear-gradient(black, rgba(30, 30, 30, .6));
  padding: 20px;
  padding-right: 0;
  //margin-bottom: 100px;

  &__button_back {
    align-self: start;
  }

  &__top-section {
    @extend %row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &__left-container {
      @extend %row;
      align-items: center;

      &__label {
        font-family: 'Monoton', cursive;
        justify-self: flex-start;
        color: #b4b9b6;
        font-size: 30px;
        cursor: pointer;
      }
    }
    &__right-container{
      @extend %row
    }
    &__button {
      border: 1px solid #b4b9b6;
      border-radius: 20px;
      padding: 11px 25px 9px;
      margin-left: 50px;
      font-family: 'Yeon+Sung', cursive;
      justify-self: flex-start;
      color: #2ecc71;
      font-size: 30px;
      cursor: pointer;
    }
  }

  &__sign-in-button {
    transition: color;
    transition-duration: 100ms;
    transition-timing-function: ease;
    justify-self: end;
    margin: 3px;
    @extend %column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2ecc71;
    border-radius: 20px;
    padding: 11px 25px 9px;
    color: #2ecc71
  }
  &__sign-in-button:nth-child(1){
    border: 1px solid #b4b9b6;
    color: #b4b9b6;
  }
  &__sign-in-button:hover{
    color: gray;
  }
}

.logo {
  height: 50px;
  width: 60px;
  align-self: flex-start;
}








