
.score-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 1px grey;
  border-radius: 4px;
  background: #0e131d;
  margin: 5vh;
  align-self: center;
  justify-self: center;
  min-height: 70%;
  max-height: 100%;
  width: 70%;
  grid-area: 1 / 3;
  &__header {
    display: flex;
    flex-direction: row;
    height: 10%;
    border-bottom: solid 2px grey;
    &__text {
      color: #2ecc71;
      margin: 0;
      font-family: Roboto;
    }
  }
  &__board {
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}