<div class="score-board">
    <div class="score-board__header">
        <h3 class="score-board__header__text">Leaders</h3>
    </div>
    <div id="scoreBoard" class="score-board__board">

    </div>
</div>