<form class="profileForm">
    <header class="profileForm__header">
        <div class="profileForm__c">
            <a class="profileForm__close-button" href="/profile">&#215;</a>
        </div>
        <img class="profileForm__avatar" src="{{avatar}}">
        <div class="profileForm__container_1">
            <input type="file" class="input profileForm__file-input" id="avatarInput">
            <div class="button-small profileForm__button" id="changeAv"> Upload avatar</div>
        </div>
    </header>
    <div class="profileForm__container" id="inputContainer">
        <input class="input profileForm__input" id="nick" placeholder="{{username}}">
        <input type="password" class="input profileForm__input" id="pass" placeholder="password">
        <input type="password" class="input profileForm__input" id="passr" placeholder="password repeat">
        <div class="button-small profileForm__button" href="/profileChange" id="changeNP">Change</div>
    </div>
</form>
