<div class="buttonPanel">
    <div class="buttonPanel__row">
        <a class="buttonPanel__button" href="/offline"> offline</a>
        <a class="buttonPanel__button" href="/online">online</a>
        <a class="buttonPanel__button" href="/profile">profile</a>
    </div>
    <a class="buttonPanel__button_rules" href="/rules">rules</a>
</div>