@import "../../base.scss";

.buttonPanel {
  @extend %column;
  align-items: center;
  align-self: center;
  width: 200px;
  /*margin-top: 50px;*/
  &__button {
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    width: 120px;
    height: 70px;
    background: #10394f;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4b56d1), to(#4845af));
    text-align: center;
    margin: 10px;
    color: #e6fdff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  &__button:nth-child(2) {
    min-width: 140px;
    min-height: 90px;
  }

  &__row {
    @extend %row;
    align-items: flex-end;
  }

  &__button-rules {
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    width: 140px;
    height: 60px;
    background: #10394f;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4b56d1), to(#4845af));
    text-align: center;
    color: #e6fdff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}







