<div class="menu-bar">
    <a class="menu-bar__button" href="/online">
        Online
    </a >
    <a class="menu-bar__button" href="/offline">
        Single
    </a>
    <a class="menu-bar__button" href="/about">
        About
    </a>
    <a class="menu-bar__button" href="/rules">
        Rules
    </a>
    <a class="menu-bar__button" href="/support">
        Support
    </a>
</div>