<div class="leader-info" id="{{id}}">
    <div class="leader-info__grid-cell">
        <p class="leader-info__position">{{position}}</p>
    </div>
    <div class="leader-info__grid-cell">
        <p class="leader-info__name">{{nickname}}</p>
    </div>
    <div class="leader-info__grid-cell">
        <p class="leader-info__score">{{score}}</p>
    </div>
</div>