body{
  @extend %column;
  justify-content: space-between;

  background-size: 100%;
  @media (orientation: landscape) {
    height: 100vh;
  }
  @media (orientation: portrait) {
    height: 100vw;
  }
  padding: 0;
  margin: 0;
}
html{
  background-image: url("assets/Backgrounds_Black_wallpaper_with_card_symbol_078600_.jpg");
  //background: url("http://neilcarpenter.com/demos/asfalt.png");
  background-repeat: repeat;
  background-position: center;
  background-position: 0 30%;
  //background-size: 100% 100%;
}
//fieldset {
//  margin-inline-start: auto;
//  margin-inline-end: auto;
//  padding-block-start: auto;
//  padding-inline-start: auto;
//  padding-inline-end: auto;
//  padding-block-end: auto;
//  min-inline-size: auto;
//  border-width: 0;
//  border-style: none;
//  border-image: none;
//}
.footer{
  background: linear-gradient(black, darkslategray);
  position: absolute;
  bottom: 1px;
}
div{
  @extend %column;
  justify-content: space-around;
}

a{
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}

section{
  @extend %column;
  justify-content: space-around;

}
.full-ize{
  height: 100%;
  width: 100%;
}
form {
  @extend %column;
  margin-top: calc(100px + 10vh);
  align-items: center;
  align-self: center;
  //width: 20%;
  //height: 25vh;
  //background: #34495e;
  //border: 1px solid #2b3c4e;
  border-radius: 20px;
  //box-shadow: 0 0 90px black;

}
.body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
[hidden] {
  display: none;
}

%column{
  display: flex;
  flex-direction: column;
}

%row{
  display: flex;
  flex-direction: row;
}
