body{
  @extend %column;
  justify-content: space-between;

  background-size: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
html{
  background-image: url("assets/Backgrounds_Black_wallpaper_with_card_symbol_078600_.jpg");
  background-repeat: no-repeat;
  background-position: center ;

}
.footer{
  background: linear-gradient(black, darkslategray);
  position: absolute;
  bottom: 1px;
}
div{
  @extend %column;
  justify-content: space-around;
}

a{
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}

section{
  @extend %column;
  justify-content: space-around;

}

form {
  @extend %column;
  margin-top: 23vh;
  align-items: center;
  align-self: center;
  //width: 20%;
  //height: 25vh;
  //background: #34495e;
  //border: 1px solid #2b3c4e;
  border-radius: 20px;
  //box-shadow: 0 0 90px black;

}

[hidden] {
  display: none;
}

%column{
  display: flex;
  flex-direction: column;
}

%row{
  display: flex;
  flex-direction: row;
}