@import url('./components/Button/Button.css');
@import url('./components/Header/Header.css');
@import url('./components/TextComponent/Text.css');
@import url('./components/Image/Image.css');
@import url('./components/DeckFan/DeckFan.css');
@import url('./components/Input/Input.css');
@import url('./components/viewes/Profile/ChangeProfile.css');
@import url('./components/InfoBar/infoBar.css');
@import url('./components/viewes/OfflineGame/OfflineGameView.css');
@import url('./components/PokerUserPanel/PokerUserPanel.css');
@import url('./components/BankPanel/BankPanel.css');
@import url('./components/ButtonPanel/ButtonPanel.css');
@import url('./components/BotPanel/BotPanel.css');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #27ae60;
    height: 98vh;
    padding: 0;
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a{
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 320px;

}

[hidden] {
    display: none;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

