@import url('./components/Button/Button.css');
@import url('./components/Header/Header.css');
@import url('./components/TextComponent/Text.css');
@import url('./components/Image/Image.css');
@import url('./components/DeckFan/DeckFan.css');
@import url('./components/Input/Input.css');
@import url('./components/Profile/Profile.css');
@import url('./components/InfoBar/infoBar.css');

body{
    display: flex;
    flex-direction: column;
    background: #27ae60;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

section{

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 320px;

}


