@import url('./components/Button/Button.css');
@import url('./components/Header/Header.css');
@import url('./components/TextComponent/Text.css');
@import url('./components/Image/Image.css');
@import url('./components/DeckFan/DeckFan.css');


body{
    background: #27ae60;
}

a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.right {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}

section{
    text-align: center;
}
