@import 'components/Button/Button.scss';
@import 'components/Header/Header.scss';
@import 'components/TextComponent/Text.scss';
@import 'components/Image/Image.scss';
@import 'components/Input/Input.scss';
@import 'components/ProfileComponent/ProfileComponent';
@import 'components/InfoBar/infoBar.scss';
@import 'viewes/OfflineGame/OfflineGameView.scss';
@import 'components/PokerUserPanel/PokerUserPanel.scss';
@import 'components/BankPanel/BankPanel.scss';
@import 'components/ButtonPanel/ButtonPanel.scss';
@import 'components/BotPanel/BotPanel.scss';
@import "base.scss";
@import 'components/MenuBar/MenuBar.scss';
@import "components/PlayerInfo/PlayerInfo.scss";
@import "components/Card/Card.scss";
@import "components/BancersCard/BancersCard.scss";
@import "viewes/SupportView/SupportView.scss";
@import "components/TableComponent/TableComponent.scss";
@import "viewes/TableView/Table.scss";
@import "components/RoomPlayerInfo/RoomPlayerInfo.scss";
@import "components/OnlineComponent/OnlineComponent.scss";
@import "components/ScoreBoard/ScoreBoard.scss";
@import "components/LeaderInfo/LeaderInfo.scss";
@import "components/RoomCreateComponent/RoomCreateComponent.scss";
@import "components/ScoreSpan/ScoreSpan.scss";
@import "components/NewRound/NewRound.scss";

//@media screen and (orientation: portrait) {
//  html {
//    -webkit-transform: rotate(-90deg);
//    -moz-transform: rotate(-90deg);
//    -o-transform: rotate(-90deg);
//    -ms-transform: rotate(-90deg);
//    transform: rotate(-90deg);
//    -webkit-transform-origin: left top;
//    -moz-transform-origin: left top;
//    -ms-transform-origin: left top;
//    -o-transform-origin: left top;
//    transform-origin: left top;
//    position: absolute;
//    top: 100vh;
//    height: 100vw;
//    width: 100vh;
//  }
//}
//@media screen and (orientation:portrait) and (max-device-width: 900px) {
//  html{
//    -webkit-transform: rotate(-90deg);
//    -moz-transform: rotate(-90deg);
//    -ms-transform: rotate(-90deg);
//    -o-transform: rotate(-90deg);
//    transform: rotate(-90deg);
//
//    width: 320px; /*Разрешение экрана iPhone*/
//
//  }
//}

.cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
