<form class="room-create">
    <div class="room-create__number-of-players">
        <p class="room-create__number-of-players__text">Players:</p>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">2</p>
            <input type="radio" value="2" id="playersNumber2" name="playersNumber" class="room-create__number-of-players__container__input" checked>
        </div>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">3</p>
            <input type="radio" value="3" id="playersNumber3" name="playersNumber" class="room-create__number-of-players__container__input">
        </div>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">4</p>
            <input type="radio" value="4" id="playersNumber4" name="playersNumber" class="room-create__number-of-players__container__input">
        </div>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">5</p>
            <input type="radio" value="5" id="playersNumber5" name="playersNumber" class="room-create__number-of-players__container__input">
        </div>
    </div>
    <div class="room-create__number-of-players">
        <p class="room-create__number-of-players__text">Blinds:</p>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">10/20</p>
            <input type="radio" value="10" id="blindsValue1" name="blindsValue" class="room-create__number-of-players__container__input">
        </div>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">20/40</p>
            <input type="radio" value="20" id="blindsValue2" name="blindsValue" class="room-create__number-of-players__container__input" checked>
        </div>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">40/80</p>
            <input type="radio" value="40" id="blindsValue3" name="blindsValue" class="room-create__number-of-players__container__input">
        </div>
    </div>
    <div class="room-create__number-of-players">
        <p class="room-create__number-of-players__text">Privacy:</p>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">public</p>
            <input type="radio" value="false" id="privacy1" name="privacy" class="room-create__number-of-players__container__input" checked>
        </div>
        <div class="room-create__number-of-players__container">
            <p class="room-create__number-of-players__container__text">private</p>
            <input type="radio" value="true" id="privacy" name="privacy" class="room-create__number-of-players__container__input">
        </div>
    </div>
    <button type="submit" class="button-small" style="width: 75px; align-self: center;">Create</button>
</form>