
.deckFun{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}



.deckFun__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #EEEEEE;
    min-width: 206px;
    min-height: 325px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 30px;
    /*position: relative;*/
    background: #2980B9;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.deckFun__card:hover {
    background: #ffd700;
    color: black;
    border-color: black;
}

.deckFun__card:focus {
    outline: none;
}


.deckFun__card:nth-child(2) {
    background: #793C92;
    border: 1px solid #793C92;
}

.deckFun__card:nth-child(2):hover {
    background: #ffd700;
    color: black;
    border-color: black;
}

.deckFun__card:nth-child(3) {
    background: #565656;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.deckFun__card:nth-child(3):hover {
    background: #ffd700;
    color: black;
    border-color: black;
}
.deckFun__card:nth-child(4){
    background: #E67E22;
    border: 1px solid #BF3902;
}
.deckFun__card:nth-child(4):hover{
    background: #ffd700;
    color: black;
    border-color: black;
}
.deckFun__card:nth-child(5){
    background: #BF3902;
    border: 1px solid #E67E22;
}

.deckFun__card:nth-child(5):hover {
    background: #ffd700;
    color: black;
    border-color: black;
}


.deckFun__card__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 56px;

}
.deckFun__card__text:hover {
    text-decoration: none;
}
.deckFun__card__nominal {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 56px;
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 10px;*/


}
.deckFun__card__nominal:hover {
    text-decoration: none;

}
/*button.sixthCard{*/
/*    position: relative;*/
/*    min-width: 206px;*/
/*    min-height: 325px;*/
/*    !*left: 60%;*!*/
/*    margin-top: 25px;*/
/*    !*top: 321px;*!*/

/*    background: #;*/
/*    border: 1px solid #C46816;*/
/*    box-sizing: border-box;*/
/*    border-radius: 20px;*/
/*}*/
/*button.seventhCard{*/
/*    position: relative;*/
/*    min-width: 206px;*/
/*    min-height: 325px;*/
/*    !*left: 70%;*!*/
/*    margin-top: 58px;*/

/*    !*top: 342px;*!*/

/*    background: #;*/
/*    border: 1px solid #882C07;*/
/*    box-sizing: border-box;*/
/*    border-radius: 20px;*/
/*}*/
