
section.container{
    margin-top: 50px;
    height: 400px;
    align-items: center;

}

a.card {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 56px;

}
a.card:hover {
    text-decoration: none;
}
a.cardNominal {
    position: absolute;
    left: 10px;
    top: 5px;

}
a.cardNominal:hover {
    text-decoration: none;

}

.container > button {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 56px;

    color: #EEEEEE;
    min-width: 206px;
    min-height: 325px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 30px;
}

.container > button:hover {
    background: #ffd700;
    color: black;
    border-color: black;
}

.container > button:focus {
    outline: none;
}

button.firstCard{
    background: #2980B9;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

button.secondCard {
    background: #793C92;
    border: 1px solid #793C92;
}

button.thirdCard{
    background: #565656;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
button.fourthCard{
    background: #E67E22;
    border: 1px solid #BF3902;
}
button.fifthCard{
    background: #BF3902;
    border: 1px solid #E67E22;
}
/*button.sixthCard{*/
/*    position: relative;*/
/*    min-width: 206px;*/
/*    min-height: 325px;*/
/*    !*left: 60%;*!*/
/*    margin-top: 25px;*/
/*    !*top: 321px;*!*/

/*    background: #;*/
/*    border: 1px solid #C46816;*/
/*    box-sizing: border-box;*/
/*    border-radius: 20px;*/
/*}*/
/*button.seventhCard{*/
/*    position: relative;*/
/*    min-width: 206px;*/
/*    min-height: 325px;*/
/*    !*left: 70%;*!*/
/*    margin-top: 58px;*/

/*    !*top: 342px;*!*/

/*    background: #;*/
/*    border: 1px solid #882C07;*/
/*    box-sizing: border-box;*/
/*    border-radius: 20px;*/
/*}*/
