.gaming-tables {
  background-image: url("/assets/table_new.png");
  width: 180px;
  height: 100px;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  cursor: pointer;
}
.gaming-tables:hover {
  box-shadow: 0 0 0 5px #2ecc71;
}
