<div class="gaming-tables">
    <header class="gaming-tables__header">
        Bet: {{roomBet}} Places: {{taken}}/{{all}}
    </header>
    <players class="gaming-tables__players" id="{{id}}">

    </players>
</div>
