.chip{
    border-radius: 100px;
    //border:   ;
    max-width: 100px;
    max-height: 100px;
    align-self: center;
    height: 10px;
}

.st{
    height: 374px;
    width: 668px;
    align-self: center;
}