.bankerCard {
  min-width: 35%;
  height: 20vh;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: flex-start;
  align-items: center;
  //border: solid 1px gray;
  box-shadow:  0px 0px 10px gray;
}